services:
  backend:
    build:
      context: ./service
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./service:/app
    restart: always
    networks:
      - deploy_network
    container_name: server_app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 8501:8501
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
    restart: always
    networks:
      - deploy_network
    container_name: client_app

networks:
  deploy_network:
    driver: bridge